*{
	margin: 0;
	padding: 0;
}

.top-container{
	width: 100%;
	text-align: center;
        background-color: #c6e1e7;
}

.top-cloud{
	margin-left: 750px;
	padding-top: 20px;
}

.bottom-cloud{
	float: left;
	margin-left: 200px;
}

.top-container h1{
	font-family: 'Sacramento', cursive;
	font-size: 60px;
	color: #2e3575;
}

.top-container p{
	font-family: 'Aldrich', sans-serif;
	font-size: 22px;
	color: #2e3575;
}
                                             

.land img{
	padding: 0;
	margin: 0;
}
